.day-li{
    min-height: 20px;
}
.day{
    /*margin: 1% 0 0 -4%;*/
    margin: 10px 0 0 -40px;
    list-style-type: none;
}
.day li{
    margin-bottom: 1%;
}
.event{
    overflow: hidden;
    width: 100%;
    /*min-height: 50%;*/
    border: 1px solid #C4C4C4;
    /*background: #c1c1c1 transpetent;*/


}
.left-container{
    height: 100%;
    width: 90%;

    float: left;
    padding-bottom: 1000em;
    margin-bottom: -1000em;
}
.right-container{
    height: 100%;
    width: 10%;
    background-color: red;
    margin: auto;
    float: left;
    padding-bottom: 1000em;
    margin-bottom: -1000em;
    /*margin-top: -20px;*/
    /*float: right;*/
}

.next{
	width:100%;
	height:100%;
	margin:auto;
	margin-top:120%;


}
.nextwrapper{
	width:100%;


}
.nextwrapper img{
	width:auto;
	height:auto;
	max-width:100%;
}
.left-topwrapper{
    width:100%;

}
.left-topwrapper img{
	width:auto;
	height:auto;
	max-width:100%;

}
.left-bottom{
    background-color: #5bc0de;
}
.triangle{
    height: 0;
    width: 0;
    border: 50px solid;
    border-color: transparent red transparent transparent;
    border-image-outset: 1px;
}

.tri-left {

    /* Styling block element, not required */
    position: relative;
    /*margin-left: 2em;*/
    /*padding: 1em;*/
    border-left: 1px solid #999;
    width: 0;
    /*background: #f3f3f3;*/
}

/* Required for Down Triangle */
.tri-left:before, .tri-left:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-left: 0;
}

/* Stroke */
.tri-left:before {
    bottom: -51px;
    left: -23px;

    /* If 1px darken stroke slightly */
    border-right-color: #C4C4C4;
    border-width: 22px;
}

/* Fill */
.tri-left:after {
    bottom: -50px;
    left: -22px;
    border-right-color: #fff;
    border-width: 21px;
}

.daylayer{
    position: relative;
	background-color:#000;
    width:86%;
	/*min-width:40%;*/
    /*max-width: 90%;*/
    /*min-height    : 5%;*/
    /*max-height: 10%;*/
    height: 20px;
	padding:2%;
	font-family:Railway;
	font-size:12px;
	text-transform:uppercase;
	opacity:0.5;
	color:#FFF;
    z-index: 10;
	float:left;
	margin:auto;
	margin-top:-40px;
	/*float:left;*/
    /*margin: auto;*/
	/*margin-top:10%;*/

}
.cus-margin{
    margin-bottom: 14px  !important;
}
.popover{
    width:34%;
}
.hov{
    height: 29px;
    padding-left: 6px;
    padding-right: 20px;
    padding-top: 9px;
    width: 5%;
    cursor: pointer;
}
.hov:hover {
    background-color: rgba(103, 97, 100, 0.82);
}

.bodys{

   min-height: 100px;
}
.cus-magin1{

    margin: 0;
    padding: 0;
    width: 20px;

}
.height-list{

    min-height: 37px;
}
.cus-small{
    min-height: 16px;
    text-align: center;
    width: 11%;
}
.tool-back{
    background-color: #ffffff;
    font-family: "Arial Black", arial-black;
    color:#001f3f;
    min-height: 50px;
}
.settings{

}
/*popover*/
.test .popover{
    font-size: 8pt;
    max-width: 800px;
    width: 632px;
    z-index: 1000;
}
/*end of popover*/
/*drag drop*/
.us1{
    z-index: 1000;
}
.drop li{

    min-height: 126px !important;
    overflow: visible !important;
    width: 100% !important;
    z-index: 1000!important;
    /*position:inherit !important;*/
}

.iteration{
    height: 500px; width: 100% !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    position: unset !important;
    magin-right:10px !important;
    magin-left:10px !important;
    padding-left: 34px !important;
    padding-right: 30px !important;
}
/*drag drop*/
/*chart*/
#graph {
    /*margin: -6px -50px 10px -50px;*/
    margin-left: 45px;
    margin-top: 80px;
    height:250px;
    width:250px;
}

.colorlabel
{
    float: left;
    margin: 5px;
}
#taskgraph
{
    height:280px;
    width:280px;
    margin-left:105px;
    margin-top: 20px;
    overflow: hidden;
    margin-bottom: 150px;
    /*height:450px;*/
    /*width:450px;*/
    /*margin-left:100px;*/
}
/*end of chart*/
/*project*/
.project{
    margin:4px 10px 4px 10px;
}
/*project*/
@media(max-width: 1000px) {
    .itemul{
        width:290px !important;
    }
}
@media(min-width:1000px)and (max-width: 1350px) {
    .itemul{
        width:300px !important;
    }
}
/*ui customize*/
.ui-autocomplete-input {
    border: none;
    font-size: 14px;
    width: 300px;
    height: 24px;
    margin-bottom: 5px;
    padding-top: 2px;
    border: 1px solid #DDD !important;
    padding-top: 0px !important;
    z-index: 1511;
    position: relative;
}
.ui-menu .ui-menu-item a {
    font-size: 12px;
}
.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1510 !important;
    float: left;
    display: none;
    min-width: 160px;
    width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}
.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}
