
#container{
    margin:0 auto;
    min-width:818px;
    text-align:left;
    position:relative;
    padding:2em 0;
}
ul#items{
    margin:1em 0;
    width:auto;
    min-height:245px;
    overflow:hidden;
    padding: 0;
    z-index: 0;
}
ul#items li{
    list-style:none;
    float:left;
    min-height:240px;
    overflow:hidden;
    width: 361px;

    /*margin:0 4px;*/
    /*background:#DBDAE0;*/
    /*color:#fff;*/
    /*text-align:center;*/
    /*-moz-border-radius:5px;*/
    /*-webkit-border-radius:5px;*/
    /*border-radius:5px;*/
    /*-moz-box-shadow:0 1px 1px #777;*/
    /*-webkit-box-shadow:0 1px 1px #777;*/
    /*box-shadow:0 1px 1px #777;*/
    /*color:#555;*/
}
ul#items li:hover{color:#333;}
ul#items li .image{
    margin:20px 20px 10px 20px;
    width:220px;
    min-height:150px;
    overflow:hidden;
    border:2px solid #fff;
    -moz-box-shadow:0 1px 1px #bbb;
    -webkit-box-shadow:0 1px 1px #bbb;
    box-shadow:0 1px 1px #bbb;
}
ul#items h3{text-transform:uppercase;font-size:14px;font-weight:bold;margin:.25em 0;text-shadow:#f1f1f1 0 1px 0;}
ul#items .info{color:#999;text-shadow:#f1f1f1 0 1px 0;}
ol#pagination{position:relative;text-align:center;}
ol#pagination li{
    display:inline-block;
    width:16px;
    height:16px;
    background:url(images/playback_rec_icon&16.png) no-repeat;
    text-align:left;
    text-indent:-8000px;
    list-style:none;
    cursor:pointer;
    margin:0 2px;
}
ol#pagination li:hover{background:url(images/playback_rec_icon&16_black.png) no-repeat ;}
ol#pagination li.current{color:#f00;font-weight:bold;background:url(images/playback_rec_icon&16_black.png) no-repeat;}
ol#pagination li.prev, ol#pagination li.next{
    position:absolute;
    top:-150px;
}
ol#pagination li.prev{left:-30px;background:url(images/br_prev_icon&16.png) no-repeat;}
ol#pagination li.next{right:-30px;background:url(images/br_next_icon&16.png) no-repeat;}
/* // content */

ul#items li {
    float: left;
    list-style: outside none none;
    min-height: 240px;
    overflow: hidden;

    width: 361px;
    /*z-index: 0;*/
}
/*ol#drop li{*/
    /*position: relative;*/
    /*z-index: 1000;*/
/*}*/
.ui-draggable-dragging{

}