.mytableRaw
{

    background-color: lightslategray;
    height: 20px;
    border-top: solid #000000 2px;
}

#myForm
{

}
.mybuttons {
    margin-left: 125px;
    margin-top: 0px;
    width: 500px;
}
#responseText {
    color: #5DFF54;
    height: 50px;
    width: 500px;
    position: relative;
    top: 20px;
    left: 200px

}

.colorR
{

    color: red;
}
#myForm span
{

    margin-left: 0px;
}
#myrow
{

    border-bottom: 2px solid #808080;
    font-weight:900;
    font-size: 12px;
    margin-bottom: 5px;

}

#mydescription {
    width: 580px;
    background-color: #777777;
    color: #990000;
    margin-left: 140px;
}

#work, #ework
{
    background-color: #777777;
    color: #990000;
    width: 630px;
    margin-left: 15px;
    height: 35px;
    font-size: medium;

}


#emydescription {
    width: 580px;
    background-color: #777777;
    color: #990000;
    margin-left: 140px;
}



#tmydescription {
    background-color: #777777;
    color: #990000;
    margin-left: 130px;
    width: 630px;
    margin-bottom: 15px;
    height: 30px;
    font-size: medium;
}

#responseTextEdit
{
    color: #FF0000;
    height: 50px;
    margin-left: 145px;
    margin-top: 150px;
    width: 500px;

}


.mycontainer
{

    margin-left: 100px;
    margin-right: 100px;

}
#dialog
{
display: none;
    background-color: rgb(153, 144, 148);


}
#dialogedit
{
    display:none;
}
#myb
{
  margin-left: 1120px;

}